/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.employee-list, .service-list {
    display: flex;
    margin-bottom: 10px;

    &__name {
        flex-grow: 1;
        margin: 0;
    }

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
