<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eGift</title>
    <base href="/" />

</head>
<body>
    @RenderBody()
    <app-root></app-root>
    @RenderSection("scripts", required: false)
<script type="text/javascript" src="/dist/polyfills.bundle.js"></script><script type="text/javascript" src="/dist/vendor.bundle.js"></script><script type="text/javascript" src="/dist/app.bundle.js"></script></body>
</html>
