<h1>Services {{service.name}}</h1>

<form #serviceForm="ngForm" (ngSubmit)="onSubmit()" class="service-edit">

    <mat-form-field>
        <input matInput placeholder="Name"
               [(ngModel)]="service.name"
               required
               name="name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Price"
               #price="ngModel"
               required
               type="number"
               [(ngModel)]="service.price"
               name="price">

        <mat-error *ngIf="price.invalid && (price.dirty || price.touched)">
            <span *ngIf="price.errors.required">Price is required</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select [(ngModel)]="service.employeeId"
                    name="employee"
                    placeholder="Employee"
                    required>
            <mat-option *ngFor="let item of employeeList" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button
            [disabled]="!serviceForm.form.valid"
            type="submit"
            color="primary">
        Save
    </button>
</form>