﻿<h2>Services List</h2>

<div *ngFor="let item of serviceList" class="service-list">
    <p class="service-list__name">{{item.name}}, ${{item.price}}</p>
    <div>
        <a mat-raised-button
           [routerLink]="['/services/list', item.id]"
           color="primary">Edit</a>

        <button mat-raised-button
                (click)="deleteService(item.id)"
                color="warn">
            Delete
        </button>
    </div>
</div>

<div>
    <a mat-raised-button
       [routerLink]="['/services/new-service']"
       color="primary">
        Create new Service
    </a>
</div>