<h1>Employee {{employee.name}}</h1>

<form #employeeForm="ngForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <input matInput placeholder="Name"
               [(ngModel)]="employee.name"
               required
               autocomplete="off"
               name="name">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="datePicker"
               placeholder="Choose a date"
               name="dateOfBirth"
               required
               autocomplete="off"
               [(ngModel)]="employee.dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
   <div *ngIf="employee.services?.length > 0">
       <h3>Services:</h3>
       <p *ngFor="let item of employee.services">{{item.name}}</p>
   </div>
    <button mat-raised-button
            [disabled]="!employeeForm.form.valid"
            type="submit"
            color="primary">
        Save
    </button>
</form>