﻿<h2>Employee List</h2>

<div *ngFor="let employee of employeeList" class="employee-list">
    <p class="employee-list__name">{{employee.name}}</p>
    <div>
        <a mat-raised-button
           [routerLink]="['/employees/employee', employee.id]"
           color="primary">Edit</a>

        <button mat-raised-button
                (click)="deleteEmployee(employee.id)"
                color="warn">
            Delete
        </button>
    </div>
</div>

<div>
    <a mat-raised-button
       [routerLink]="['/employees/new-employee']"
       color="primary">
        Create new Employee
    </a>
</div>