<div>
    <nav>
        <a routerLink="" routerLinkActive="active">Home Page</a>
        <a routerLink="employees" routerLinkActive="active">Employees</a>
        <a routerLink="services" routerLinkActive="active">Services</a>
    </nav>
    <router-outlet></router-outlet>
</div>
